@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

 

.my-gradient {
  width: 100%;
  
  background:
    linear-gradient(
      to right,
      #e2ef26 0%,
      #096455 52%,
      #00c9a8 100%
    ),


}

.white-gradient-bottom {
  width: 100%;
  height:50px;
  background: linear-gradient(to top, #ffffff 100%, #ffffff 0%);
  position: 
    absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}

