@keyframes base_animation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-30%);
    }
}

.gradient_container {
    animation: base_animation 10s linear infinite;
}